.html,
body {
  background: #d9d9d9;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f2f2f2, #ffffff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f2f2f2, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f2f2f2, #ffffff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f2f2f2, #ffffff);
  /* Standard syntax (must be last) */
}

#state {
  left: 10px;
  max-width: 200px;
  display: inline;
  position: relative;
  margin-right: 10px;
}

#ScrollCB {
  position: absolute;
  left: 3px;
  height: 150px;
  width: 185px;
  overflow: auto;
  visibility: hidden;
  z-index: 1;
  background-color: white;
  border: 1px solid gray;
}

.well {
  background-color: white;
  position: relative;
}

#logout {
  position: absolute;
  top: 35px;
  right: 20px;
}

table {
  background-color: white;
}

#addandgenerate {
  position: relative;
  margin-bottom: 15px;
}

#reportbutton {
  position: absolute;
  right: 2px;
  top: 0px;
}

#address,
#miles {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
