.bg-dark{
      background-color:#680000;
      color: #fff;
      padding:25px;
}



.foot{
 
  background-color:#565656;
      color:#fff;
      margin-top:15px;
      padding:15px;
      text-align: center;
  
}
.foot>p{
  opacity:.5;
}